amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
Django==1.10.1
django-solo==1.1.2
django-widget-tweaks==1.4.1
kombu==3.0.35
Pillow==3.3.1
rarfile==2.8
requests==2.11.1
requests-cache==0.4.12