{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tenma</title>
        <link rel="stylesheet" href="{% static 'comics/flexslider/flexslider.css' %}" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'comics/style.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src="https://use.fontawesome.com/d3455c4c52.js"></script>
        <script src="{% static 'comics/flexslider/jquery.flexslider.js' %}"></script>
        <script src="{% static 'comics/script.js' %}"></script>
    </head>

    <body class="{% block page-type %}{% endblock %}">
        <header>
            <div id="navbar">
                <a class="logo" href="/">Tenma</a>
                {% block menu %}{% endblock %}
                <a class="import-comics" href="{% url 'comics:importer' %}">Import Comics</a>
            </div>
        </header>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>

    <footer>
        <div class="metadata-disclaimer">
            <div class="text">
                <p>Metadata on this page is retrieved from </p>
            </div>
            <div class="logo">
                <a target="_blank" href="http://comicvine.gamespot.com"><img src ="{% static 'comics/comicvine_logo.png' %}"></a>
            </div>
        </div>
    </footer>

</html>