{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tenma</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'comics/tenma-favicon.png' %}"/>
        <link rel="stylesheet" href="{% static 'comics/flexslider/flexslider.css' %}" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'comics/style.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>
        <script src="https://use.fontawesome.com/d3455c4c52.js"></script>
        <script src="{% static 'comics/bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'comics/flexslider/jquery.flexslider-min.js' %}"></script>
        <script src="{% static 'comics/script.js' %}"></script>
    </head>

    <body class="{% block page-type %}{% endblock %}">
        <header>
            <div id="navbar">
                <a class="logo" href="/"><img src="{% static 'comics/tenma-logo.png' %}"></a>
                {% block menu %}
                    <a data-toggle="modal" data-target="#modal"><i class="settings-button fa fa-cog"></i></a>
                {% endblock %}
            </div>
        </header>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>

    <footer>
        <div class="metadata-disclaimer">
            <div class="text">
                <p>Metadata on this page is retrieved from </p>
            </div>
            <div class="logo">
                <a target="_blank" href="http://comicvine.gamespot.com"><img src ="{% static 'comics/comicvine_logo.png' %}"></a>
            </div>
        </div>
    </footer>

    <div class="modal" id="modal"></div>

    <script>
        $('.settings-button').on('click', function (event) {
            var modal = $('#modal')
            $.ajax({
                url: "{% url 'comics:server-settings' %}",
                context: document.body
            }).done(function(response) {
                modal.html(response);
            });
        })
    </script>
</html>