{% extends "comics/base.html" %}

{% block content %}

<div class="creator-info-wrapper">
	{% if creator.image|length %}
	<div class="creator-image">
		<img src="/{{ creator.image }}" >
	</div>
	{% endif %}
	<div class="creator-info">
		<div class="creator-name">
			{% if creator.name %}
			<h1>{{ creator.name }}</h1>
			{% endif %}
		</div>
		{% if creator.desc %}
		{% autoescape off %}
		<div class="creator-description">
			<p>{{ creator.desc|truncatewords:180 }}</p>
		</div>
		{% endautoescape %}
		{% endif %}

		{% include "comics/comicvine_link.html" with cvurl=creator.cvurl %}

	</div>
</div>

{% include "comics/related_issues_by_series.html" %}

{% endblock content %}
