{% load widget_tweaks %}
<div class="modal-dialog modal-lg" role="document">
	<form action="{% url 'comics:issue-update' issue.slug %}" method="post" id="issue-update" class="form">{% csrf_token %}
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Edit Issue</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="close-settings fa fa-times-circle"></i>
				</button>
			</div>
			<div class="modal-body">
				<a class="reprocess-issue button" href="{% url 'comics:reprocess' issue.slug %}">Reprocess</a>
				<p class="helptext">Use the reprocess button to reprocess this issue's metadata from ComicVine.</p>
				{{ form.media }}
				{% for field in form.visible_fields %}
					{{ field.errors }}
					{{ field.label_tag }}
					{{ field|attr:"class:form-control" }}
					<p class="helptext">{{ field.help_text|safe }}</p>
				{% endfor %}
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn btn-primary" value="Save changes" />
			</div>
		</div><!-- /.modal-content -->
	</form>
</div><!-- /.modal-dialog -->
<script>
    var form_options = { target: '#modal', success: function(response) {} };
    $('#issue-update').ajaxForm(form_options);
</script>
