{% extends "comics/base.html" %}

{% block page-title %}{{ issue.series.name }}{% endblock page-title %}

{% block content %}

{% if issue.name %}
<h2>{{ issue.name }}</h2>
{% endif %}

<h2>Issue #{{ issue.number }}</h2>

{% if issue.cover|length %}
<div class="issue-cover">
	<img src="/{{ issue.cover }}" >
</div>
{% endif %}

{% if issue.series.publisher %}
<div class="publisher">
	<p><a href="{% url 'comics:publisher' issue.series.publisher.id %}">{{ issue.series.publisher.name }}</a></p>
</div>
{% endif %}

{% if issue.date %}
<div class="release-date">
	<p>Released: {{ issue.date }}</p>
</div>
{% endif %}

{% if issue.desc %}
<div class="description">
	<p>{{ issue.desc }}</p>
</div>
{% endif %}

{% if issue.arc %}
<div class="arc">
	<h3>Arc</h3>
	<p><a href="{% url 'comics:arc' issue.arc.id %}">{{ issue.arc.name }}</a></p>
</div>
{% endif %}

{% if issue.characters %}
<div class="characters">
	<h3>Characters</h3>
	<ul>
	{% for character in issue.characters.all %}
		<li><a href="{% url 'comics:character' character.id %}">{{ character.name }}</a></li>
	{% endfor %}
	</ul>
</div>
{% endif %}

{% if issue.creators %}
<div class="creators">
	<h3>Creators</h3>
	<ul>
	{% for creator in issue.creators.all %}
		<li><a href="{% url 'comics:creator' creator.id %}">{{ creator.name }}</a></li>
	{% endfor %}
	</ul>
</div>
{% endif %}

{% if issue.teams %}
<div class="teams">
	<h3>Teams</h3>
	<ul>
	{% for team in issue.teams.all %}
		<li><a href="{% url 'comics:team' team.id %}">{{ team.name }}</a></li>
	{% endfor %}
	</ul>
</div>
{% endif %}

{% endblock content %}