{% extends "comics/base.html" %}

{% block content %}

<div class="issue-info-wrapper">
	{% if issue.image|length %}
	<div class="issue-cover">
		<div class="issue-cover-image">
			{% autoescape off %}
			<img src="/{{ issue.image|urlencode }}" >
			{% endautoescape %}
			<div class="issue-cover-overlay">
				<a href="{% url 'comics:read' issue.id %}">
					<i class="read-button fa fa-eye"></i>
				</a>
				<a data-toggle="modal" data-target="#modal" href="{% url 'comics:issue-update' issue.id %}">
					<i class="issue-update-button fa fa-pencil"></i>
				</a>
			</div>
		</div>
	</div>
	{% endif %}
	<div class="issue-info">
		<div class="issue-title">
			{% if issue.series.name %}
			<h1>{{ issue.series.name }}</h1>
			{% endif %}
			<h3>Issue #{{ issue.number }}{% if issue.name %} - <i>{{ issue.name }}</i>{% endif %}</h3>
			{% if issue.date %}
			<p>Released: {{ issue.date }}</p>
			{% endif %}
		</div>

		{% include "comics/related_arcs.html" with arc_list=issue.arcs.all %}

		{% if issue.desc %}
		{% autoescape off %}
		<div class="issue-description">
			<p>{{ issue.desc|truncatewords:180 }}</p>
		</div>
		{% endautoescape %}
		{% endif %}

		{% include "comics/comicvine_link.html" with cvurl=issue.cvurl %}

	</div>
</div>

{% include "comics/related_publisher.html" with publisher=issue.series.publisher %}

{% include "comics/related_characters.html" with character_list=issue.characters.all %}

{% include "comics/related_creators.html" with creator_list=issue.creators.all %}

{% include "comics/related_teams.html" with team_list=issue.teams.all %}
<script>
    $('.issue-update-button').on('click', function (event) {
        var modal = $('#modal')
        $.ajax({
            url: "{% url 'comics:issue-update' issue.id %}",
            context: document.body
        }).done(function(response) {
            modal.html(response);
        });
    })
</script>
{% endblock content %}