{% extends "comics/base.html" %}

{% block content %}

<div class="publisher-info-wrapper">
	{% if publisher.logo|length %}
	<div class="publisher-logo">
		<img src="/{{ publisher.logo }}" >
	</div>
	{% endif %}
	<div class="publisher-info">
		<div class="publisher-name">
			{% if publisher.name %}
			<h1>{{ publisher.name }}</h1>
			{% endif %}
		</div>
		{% if publisher.desc %}
		{% autoescape off %}
		<div class="publisher-description">
			<p>{{ publisher.desc }}</p>
		</div>
		{% endautoescape %}
		{% endif %}
	</div>
</div>

{% include "comics/related_series.html" with allseries=publisher.series_set.all %}

{% endblock content %}