{% extends "comics/base.html" %}
{% load staticfiles %}

{% block menu %}
	<div class="reader-controls">
		<div class="fit-vertically button">
			<i class="fa fa-arrows-v"></i><p>Fit Vertically</p>
		</div>
		<div class="fit-horizontally button">
			<i class="fa fa-arrows-h"></i><p>Fit Horizontally</p>
		</div>
		<div class="page-count">
			<p><span class="current-page">1</span> / <span class="page-total"></span></p>
		</div>
	</div>
{% endblock %}

{% block page-type %}reader{% endblock %}

{% block content %}

<div class="flexslider reader-slider">
	<div class="issue-data" data-id="{{ issue.slug }}" data-leaf="{{ issue.leaf }}"></div>
	<ul class="slides">
		{% for item in issue.page_set.pages %}
		{% with mediaurl=issue.page_set.mediaurl %}
		<li class="page page-{{ forloop.counter }}">
			<img src="{% static 'comics/image-loading.png' %}" data-source="{{ mediaurl }}{{ item }}" class="lazy-load" alt="Page #{{ forloop.counter }}" >
		</li>
		{% endwith %}
		{% endfor %}
	</ul>
</div>

{% endblock content %}
