{% load simple_crop %}
{% load staticfiles %}

{% if issue_list %}
<div class="related related-issues">
	<h2>Issues</h2>
	<div class="flexslider related-slider">
		<ul class="slides">
			{% for issue in issue_list %}
			<li>
				<a href="{% url 'comics:issue' issue.slug %}">
					<div class="image">
						{% if issue.cover %}
							<img src="{{ issue.cover|smartcrop:"200x305"|urlencode }}" alt = "{{ series.name }}" >
						{% else %}
							<img src="{% static 'comics/image-not-found.png' %}" alt="{{ series.name }}" >
						{% endif %}
						{% if issue.status == 0 %}
							<i class="fa fa-circle fa-2x"></i>
						{% elif issue.status == 1 %}
							<i class="fa fa-adjust fa-2x fa-flip-horizontal"></i>
						{% endif %}
					</div>
				</a>
				<a href="{% url 'comics:issue' issue.slug %}"><p>Issue #{{ issue.number }}</p></a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}
