{% if issue_list %}
<div class="issues">
	<h3>Issues</h3>
	<div>
	{% for issue in issue_list %}

		{% ifchanged issue.series.id %}
		<a href="{% url 'comics:series' issue.series.id %}"><h3>{{ issue.series.name }}</h3></a>
		{% endifchanged %}

		<div class="issue">
			<a href="{% url 'comics:issue' issue.id %}"><img src="/{{ issue.cover }}" alt = "{{ series.name }}" ></a>
			<a href="{% url 'comics:issue' issue.id %}"><p>Issue #{{ issue.number }}</p></a>
		</div>
		
	{% endfor %}
	</div>
</div>
{% endif %}