{% load simple_crop %}

{% if creator_list %}
<div class="related related-creators">
	<h2>Creators</h2>
	<div class="flexslider related-slider">
		<ul class="slides">
			{% for creator in creator_list %}
			<li>
				<a href="{% url 'comics:creator' creator.id %}">
					<div class="image">
						<img src="{{ creator.image|smartcrop:"200x305"|urlencode }}" alt = "{{ creator.name }}" >
					</div>
				</a>
				<a href="{% url 'comics:creator' creator.id %}"><p>{{ creator.name }}</p></a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}