{% load simple_crop %}
{% load staticfiles %}

{% if character_list %}
<div class="related related-characters">
	<h2>Characters</h2>
	<div class="flexslider related-slider">
		<ul class="slides">
			{% for character in character_list %}
			<li>
				<a href="{% url 'comics:character' character.id %}">
					<div class="image">
						{% if character.image %}
							<img src="{{ character.image|smartcrop:"200x305"|urlencode }}" alt="{{ character.name }}" >
						{% else %}
							<img src="{% static 'comics/image-not-found.png' %}" alt="{{ character.name }}" >
						{% endif %}
					</div>
				</a>
				<a href="{% url 'comics:character' character.id %}"><p>{{ character.name }}</p></a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}