{% load simple_crop %}

{% if issue_list %}
<div class="related related-issues">
	<h2>Issues</h2>
	<div class="flexslider related-slider">
		<ul class="slides">
			{% for issue in issue_list %}
			<li>
				<a href="{% url 'comics:issue' issue.id %}">
					<div class="image">
						<img src="{{ issue.cover|smartcrop:"200x305" }}" alt = "{{ series.name }}" >
					</div>
				</a>
				<a href="{% url 'comics:issue' issue.id %}"><p>Issue #{{ issue.number }}</p></a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}