{% load simple_crop %}
{% load staticfiles %}

{% if issue_list %}
<div class="related related-issues">
	<h2>Issues</h2>
	<div>
	{% for issue in issue_list %}

		{% ifchanged issue.series.id %}
		{% if not forloop.first %}
			</ul>
		</div>
		{% endif %}
		<a href="{% url 'comics:series' issue.series.id %}"><h3>{{ issue.series.name }}</h3></a>
		<div class="flexslider related-slider">
			<ul class="slides">
		{% endifchanged %}

				<li>
					<a href="{% url 'comics:issue' issue.id %}">
						<div class="image">
							{% if issue.cover %}
								<img src="{{ issue.cover|smartcrop:"200x305"|urlencode }}" alt="{{ series.name }}" >
							{% else %}
								<img src="{% static 'comics/image-not-found.png' %}" alt="{{ series.name }}" >
							{% endif %}
						</div>
					</a>
					<a href="{% url 'comics:issue' issue.id %}"><p>Issue #{{ issue.number }}</p></a>
				</li>
		
	{% endfor %}
	</div>
</div>
{% endif %}