{% extends "comics/base.html" %}

{% block content %}

<div class="series-info-wrapper">
	{% if series.issue_numerical_order_set.first.cover|length %}
	<div class="series-cover-image">
		<img src="/{{ series.issue_numerical_order_set.first.cover }}" >
	</div>
	{% endif %}
	<div class="series-info">
		<div class="series-title">
			{% if series.name %}
			<h1>{{ series.name }}</h1>
			{% endif %}
			{% if series.year %}
			<p>{{ series.year }}</p>
			{% endif %}
		</div>
		{% if series.desc %}
		{% autoescape off %}
		<div class="series-description">
			<p>{{ series.desc|truncatewords:180 }}</p>
		</div>
		{% endautoescape %}
		{% endif %}

		{% include "comics/comicvine_link.html" with cvurl=series.cvurl %}

	</div>
</div>


{% include "comics/related_publisher.html" with publisher=series.publisher %}

{% include "comics/related_issues.html" with issue_list=series.issue_numerical_order_set %}

{% endblock content %}