<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h3 class="modal-title">Server Settings</h3>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="close-settings fa fa-times-circle"></i>
			</button>
		</div>
		<div class="modal-body">
			<p class="alert alert-info">Your settings were updated.</p>
		</div>
	</div>
</div>
<script>
	// close the modal after 3 seconds
	setTimeout(function() {
		$('#modal').modal('hide');
	}, 1500);
</script>