@import 'https://fonts.googleapis.com/css?family=Open+Sans';

/*
 *  Globals
 */

a, p, h1, h2, h3, h4, h5, h6, i, label, ul, li {
	color: #ececec;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

a, button {
	outline: none;
}

body {
	margin: 0;
	background-color: #252525;
}

input {
	display: inline-block;
    font-size: 14px;
    padding: 5px 10px;
    background: #ececec;
    color: #252525;
    border: none;
    border-radius: 5px;
    width: auto;
}

button,
input[type=submit],
a.button {
	display: block;
    text-align: center;
    font-size: 14px;
    padding: 5px 10px;
    background: #ececec;
    color: #252525;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -ms-transition: all 0.5s linear;
}

button:hover,
input[type=submit]:hover,
a.button:hover {
	background: #929292;
}

.page {
	width: 100vw;
	height: 100vh;
	background-size: contain;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
}

#content {
	width: 100%;
	padding-top: 60px;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
}

/*
 *	Header
 */

header {
	position: fixed;
	width: 100%;
	height: 50px;
	z-index: 10;
    background: #151515;
}

#navbar {
	height: 100%;
	padding: 0 30px;
}

header .logo {
	width: ;
	margin: 8px 20px 0 0;
	float: left;
}

header .logo img {
	max-width: 125px;
    width: 100%;
}

/*
 *	Footer
 */

footer .metadata-disclaimer .text,
footer .metadata-disclaimer .logo {
	display: inline-block;
	vertical-align: middle;
}

footer .metadata-disclaimer .text {
	margin-right: 10px;
}

footer .metadata-disclaimer {
	text-align: right;
	margin-right: 30px;
	font-style: italic;
}

footer .metadata-disclaimer img {
	max-width: 80px;
}

/*
 *	Server Settings Modal
 */

#navbar .settings-button {
	cursor: pointer;
	float: right;
    font-size: 25px;
    margin: 12px 0
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.7);
    display: none;
}

#modal.open {
    display: block;
}

#modal .modal-dialog {
	position: fixed;
    background-color: #252525;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modal .modal-header {	
	background-color: #151515;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

#modal .modal-header h3 {
	margin: 0;
	padding: 10px 20px;
	float: left;
}

#modal .modal-header .close {
	float: right;
	cursor: pointer;
    padding: 11px 20px;
    font-size: 24px;
    border: none;
    background-color: transparent;
}

#modal .modal-body {
	padding: 20px 20px 5px 20px;
}

#modal .modal-footer {
	padding: 5px 20px 20px 20px;
}

a.button.import-comics {
    width: 110px;
    margin-bottom: 17px;
}

#modal form label {
	margin-right: 5px;
}

#modal form input[type=text] {
	width: 330px;
}

#modal form .helptext {
	display: block;
	font-style: italic;
	font-size: 12px;
}

#modal form .helptext a {
	text-decoration: underline;
}

#modal .modal-body .errorlist {
	margin-top: 0;
}

/*
 *	Issue Update Modal
 */

a.button.reprocess-issue {
    width: 70px;
}


/*
 *	Flexslider - Related Sliders
 */

.flexslider.related-slider {
	background: #151515;
    border: none;
    border-radius: 0;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.flexslider.related-slider p {
	text-align: center;
	margin-bottom: 0;
}

.flexslider.related-slider li .image {
	position: relative;
}

.flexslider.related-slider li .image:after {
	content: '.';
	font-size: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0);
	transition: 0.5s all;
    -moz-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -ms-transition: all 0.5s linear;
}

.flexslider.related-slider li a:hover .image:after {
	background: rgba(0, 0, 0, 0.5) !important;
}

.related-slider .flex-direction-nav {
	position: absolute;
	top: -51px;
	right: 30px;
}

.related-slider .flex-direction-nav a {
	position: relative;
}

.related-slider .flex-direction-nav a:before {
	color: #ececec;
	text-shadow: none;
	font-size: 30px;
}

.related-slider .flex-nav-prev,
.related-slider .flex-nav-next {
	display: inline-block;
	width: 30px;
	height:30px;
	text-shadow: none;
}

.related-slider .flex-direction-nav .flex-prev,
.related-slider .flex-direction-nav .flex-next {
	left: 0 !important;
	top: 0;
	right: 0 !important;
	margin: 0;
	opacity: 1;
	text-align: center;
	width: 30px;
	height: 30px;
}

.related-slider .flexslider:hover .flex-direction-nav .flex-prev,
.related-slider .flexslider:hover .flex-direction-nav .flex-next {
	opacity: 1;
}

/*
 *	Homepage Series Listing
 */

.series-filter-wrapper {
	margin: 5px auto;
    padding: 0 30px;
    max-width: 480px;
    position: relative;
}

.series-filter-wrapper i {
	font-size: 1.25rem;
    position: absolute;
    color: #cac7c7;
    top: 6px;
    left: 36px;
}

#series-filter {
	outline: none;
    max-width: 480px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-left: 30px;
    box-sizing: border-box;
}

.no-results {
	display: none;
}

.no-series p,
.no-results p {
	text-align: center;
    font-size: 22px;
    margin: 70px 0;
}

.all-series {
	padding: 0 30px;
}

.all-series ul {
	list-style: none;
	font-size: 0px;
	margin-left: -1%;
	padding: 0;
}

.all-series li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 1% 1%;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 24%;
}

.all-series li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}

.all-series li p {
	text-align: center;
	font-size: 16px;
}

@media (max-width: 480px) {
	.all-series ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	.all-series ul.grid-nav li a {
		display: block;
	}
	.all-series ul {
		margin-left: 0;
	}
	.all-series ul li {
		width: 100% !important;
		margin: 0 0 20px;
	}
}

/*
 *	Arcs
 */

.arc-image {
	display: inline-block;
	width: 29%;
	margin-right: 1%;
	position: relative;
}

.arc-image img {
	width: 100%;
}

.arc-info {
	display: inline-block;
	vertical-align: top;
	width: 69%;
}

.arc-info-wrapper {
	padding: 0 30px;
}

/*
 *	Characters
 */

.character-image {
	display: inline-block;
	width: 29%;
	margin-right: 1%;
	position: relative;
}

.character-image img {
	width: 100%;
}

.character-info {
	display: inline-block;
	vertical-align: top;
	width: 69%;
}

.character-info-wrapper {
	padding: 0 30px;
}

/*
 *	Creators
 */

.creator-image {
	display: inline-block;
	width: 29%;
	margin-right: 1%;
	position: relative;
}

.creator-image img {
	width: 100%;
}

.creator-info {
	display: inline-block;
	vertical-align: top;
	width: 69%;
}

.creator-info-wrapper {
	padding: 0 30px;
}

/*
 *	Series
 */

.series-cover-image {
	display: inline-block;
	width: 29%;
	margin-right: 1%;
	position: relative;
}

.series-cover-image img {
	width: 100%;
}

.series-info {
	display: inline-block;
	vertical-align: top;
	width: 69%;
}

.series-info-wrapper {
	padding: 0 30px;
}

/*
 *	Teams
 */

.team-image {
	display: inline-block;
	width: 29%;
	margin-right: 1%;
	position: relative;
}

.team-image img {
	width: 100%;
}

.team-info {
	display: inline-block;
	vertical-align: top;
	width: 69%;
}

.team-info-wrapper {
	padding: 0 30px;
}

/*
 *	Publishers
 */

.publisher-logo {
	display: inline-block;
	width: 29%;
	margin-right: 1%;
	position: relative;
}

.publisher-logo img {
	width: 100%;
}

.publisher-info {
	display: inline-block;
	vertical-align: top;
	width: 69%;
}

.publisher-info-wrapper {
	padding: 0 30px;
}

/*
 *	Issues
 */

.issue-cover {
	display: inline-block;
	width: 29%;
	margin-right: 1%;
	position: relative;
}

.issue-cover-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0);
	transition: 0.5s all;
    -moz-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -ms-transition: all 0.5s linear;
}

.issue-cover i {
	visibility: hidden;
    opacity: 0;
    display: inline-block;
    position: absolute;
    z-index: 10;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -ms-transition: all 0.5s linear;
}

.issue-cover i:hover {
	color: #bfbfbf;
}

.issue-cover i.read-button {
	text-align: center;
    font-size: 8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.issue-cover i.issue-update-button {
	font-size: 2.5rem;
	bottom: 10px;
	right: 10px;
}

.issue-cover .issue-cover-image:hover .issue-cover-overlay{
	background: rgba(0, 0, 0, 0.5) !important;
}

.issue-cover-overlay:hover i {
	visibility: visible;
    opacity: 1;
}

.issue-cover img {
	width: 100%;
}

.issue-info {
	display: inline-block;
	vertical-align: top;
	width: 69%;
}

.issue-info-wrapper {
	padding: 0 30px;
}

/*
 *	Related Publisher
 */

.related-publisher {
	position: absolute;
	right: 30px;
	top: 60px;
}

.related-publisher img {
	max-width: 100px;
}

/*
 *	Related blocks
 */

.related {
	position: relative;
}

.related h2,
.related h3 {
	margin-left: 30px;
}

/*
 *	Learn more links
 */

.comicvine-link .text,
.comicvine-link .logo {
	display: inline-block;
	vertical-align: middle;
}

.comicvine-link .text {
	margin-right: 10px;
}

.comicvine-link {
	text-align: right;
	font-style: italic;
}

.comicvine-link img {
	max-width: 80px;
}

/*
 *	Reader
 */

.reader header {
	display: none;
}

.reader .reader-controls {
	padding: 16px;
	display: inline-block;
}

.reader .reader-controls .button {
	display: inline-block;
	margin-right: 5px;
	cursor: pointer;
}

.reader .reader-controls .button:hover i,
.reader .reader-controls .button:hover p {
	color: #929292;
}

.reader .reader-controls .button i {
	color: #ececec;
	margin: 0 5px;
	transition: 0.5s all;
    -moz-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -ms-transition: all 0.5s linear;
}

.reader .reader-controls .button p {
	font-size: 14px;
	display: inline-block;
	margin: 0;
	transition: 0.25s all;
    -moz-transition: 0.25s all;
    -webkit-transition: 0.25s all;
    -ms-transition: all 0.25s linear;
}

.reader .reader-controls .page-count {
	position: fixed;
    right: 30px;
    top: 0;
}

.reader footer {
	display: none;
}

.reader #content {
	padding: 0;
}

.flexslider.reader-slider {
    background: #000000;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.flexslider.reader-slider .slides li {
	text-align: center;
}

.flexslider.reader-slider .slides img {
	width: auto;
	height: initial;
	max-width: 100%;
	max-height: 100%;
	background: #000000;
	display: inline;
	vertical-align: top;
}

.flexslider.reader-slider .slides li.full-width {
	height: 100%;
}

.flexslider.reader-slider .slides li.full-width img {
	max-width: 100vw;
	width: 100%;
    max-height: initial;
}

.reader-slider .flex-direction-nav {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    width: 100%;
    z-index: 5;
}

.reader-slider .flex-direction-nav a:before {
	color: #ececec;
	text-shadow: none;
	font-size: 50px;
}

.reader-slider .flex-nav-prev,
.reader-slider .flex-nav-next {
	width: 50px;
	height: 50px;
	display: inline-block;
	width: 50%;
}

.reader-slider .flex-direction-nav .flex-prev,
.reader-slider .flex-direction-nav .flex-next {
	position: relative;
	width: 50px;
	height: 50px;
	left: 0 !important;
	right: 0 !important;
}

.reader-slider .flex-nav-prev a {
	margin-left: 10px;
}

.reader-slider .flex-nav-next a {
	float: right;
	margin-right: 10px;
}