@import 'https://fonts.googleapis.com/css?family=Open+Sans';

/*
 *  Globals
 */

a, p, h1, h2, h3, h4, h5, h6 {
	color: #ececec;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

body {
	margin: 0;
	background-color: #252525;
}

.page {
	width: 100vw;
	height: 100vh;
	background-size: contain;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
}

#content {
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
}

.reader #navbar {
	display: none;
}

/*
 *	Header
 */

header .import-comics {
    float: right;
    font-size: 14px;
    padding: 5px 10px;
    margin: 10px;
    background: #ececec;
    color: #252525;
    border-radius: 5px;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -ms-transition: all 0.5s linear;
}

header .import-comics:hover {
	background: #929292;
}

/*
 *	Footer
 */

footer .metadata-disclaimer .text,
footer .metadata-disclaimer .logo {
	display: inline-block;
	vertical-align: middle;
}

footer .metadata-disclaimer .text {
	margin-right: 10px;
}

footer .metadata-disclaimer {
	text-align: right;
	margin-right: 30px;
	font-style: italic;
}

footer .metadata-disclaimer img {
	max-width: 80px;
}

/*
 *	Flexslider
 */

.flexslider {
	background: #151515;
    border: none;
    border-radius: 0;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.flexslider p {
	text-align: center;
	margin-bottom: 0;
}

.flexslider li .image {
	position: relative;
}

.flexslider li .image:after {
	content: '.';
	font-size: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0);
	transition: 0.5s all;
    -moz-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -ms-transition: all 0.5s linear;
}

.flexslider li a:hover .image:after {
	background: rgba(0, 0, 0, 0.5) !important;
}

.flex-direction-nav {
	position: absolute;
	top: -51px;
	right: 30px;
}

.flex-direction-nav a {
	position: relative;
}

.flex-direction-nav a:before {
	color: #ececec;
	text-shadow: none;
	font-size: 30px;
}

.flex-nav-prev,
.flex-nav-next {
	display: inline-block;
	width: 30px;
	height:30px;
	text-shadow: none;
}

.flex-direction-nav .flex-prev,
.flex-direction-nav .flex-next {
	left: 0 !important;
	top: 0;
	right: 0 !important;
	margin: 0;
	opacity: 1;
	text-align: center;
	width: 30px;
	height: 30px;
}

.flexslider:hover .flex-direction-nav .flex-prev,
.flexslider:hover .flex-direction-nav .flex-next {
	opacity: 1;
}

/*
 *	Homepage Series Listing
 */

.all-series {
	padding: 0 30px;
}

.all-series ul {
	list-style: none;
	font-size: 0px;
	margin-left: -1%;
	padding: 0;
}

.all-series li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 1% 1%;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 24%;
}

.all-series li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}

.all-series li p {
	text-align: center;
	font-size: 16px;
}

@media (max-width: 480px) {
	.all-series ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	.all-series ul.grid-nav li a {
		display: block;
	}
	.all-series ul {
		margin-left: 0;
	}
	.all-series ul li {
		width: 100% !important;
		margin: 0 0 20px;
	}
}

/*
 *	Arcs
 */

.arc-image {
	display: inline-block;
	width: 29%;
	margin-right: 1%;
	position: relative;
}

.arc-image img {
	width: 100%;
}

.arc-info {
	display: inline-block;
	vertical-align: top;
	width: 69%;
}

.arc-info-wrapper {
	padding: 0 30px;
}

/*
 *	Characters
 */

.character-image {
	display: inline-block;
	width: 29%;
	margin-right: 1%;
	position: relative;
}

.character-image img {
	width: 100%;
}

.character-info {
	display: inline-block;
	vertical-align: top;
	width: 69%;
}

.character-info-wrapper {
	padding: 0 30px;
}

/*
 *	Creators
 */

.creator-image {
	display: inline-block;
	width: 29%;
	margin-right: 1%;
	position: relative;
}

.creator-image img {
	width: 100%;
}

.creator-info {
	display: inline-block;
	vertical-align: top;
	width: 69%;
}

.creator-info-wrapper {
	padding: 0 30px;
}

/*
 *	Series
 */

.series-cover-image {
	display: inline-block;
	width: 29%;
	margin-right: 1%;
	position: relative;
}

.series-cover-image img {
	width: 100%;
}

.series-info {
	display: inline-block;
	vertical-align: top;
	width: 69%;
}

.series-info-wrapper {
	padding: 0 30px;
}

/*
 *	Teams
 */

.team-image {
	display: inline-block;
	width: 29%;
	margin-right: 1%;
	position: relative;
}

.team-image img {
	width: 100%;
}

.team-info {
	display: inline-block;
	vertical-align: top;
	width: 69%;
}

.team-info-wrapper {
	padding: 0 30px;
}

/*
 *	Publishers
 */

.publisher-logo {
	display: inline-block;
	width: 29%;
	margin-right: 1%;
	position: relative;
}

.publisher-logo img {
	width: 100%;
}

.publisher-info {
	display: inline-block;
	vertical-align: top;
	width: 69%;
}

.publisher-info-wrapper {
	padding: 0 30px;
}

/*
 *	Issues
 */

.issue-cover {
	display: inline-block;
	width: 29%;
	margin-right: 1%;
	position: relative;
}

.issue-cover i {
	visibility: hidden;
    opacity: 0;
    display: inline-block;
    position: absolute;
    z-index: 10;
    text-align: center;
    width: 100%;
    font-size: 8rem;
    top: 50%;
    transform: translate(0, -50%);
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -ms-transition: all 0.5s linear;
}

.issue-cover a {
	font-size: 0;
}

.issue-cover a:hover i {
	visibility: visible;
    opacity: 1;
}

.issue-cover .issue-cover-image:after {
	content: '.';
	font-size: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0);
	transition: 0.5s all;
    -moz-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -ms-transition: all 0.5s linear;
}

.issue-cover a:hover .issue-cover-image:after {
	background: rgba(0, 0, 0, 0.5) !important;
}

.issue-cover img {
	width: 100%;
}

.issue-info {
	display: inline-block;
	vertical-align: top;
	width: 69%;
}

.issue-info-wrapper {
	padding: 0 30px;
}

/*
 *	Related Publisher
 */

.related-publisher {
	position: absolute;
	right: 30px;
	top: 0;
}

.related-publisher img {
	max-width: 100px;
}

/*
 *	Related blocks
 */

.related {
	position: relative;
}

.related h2,
.related h3 {
	margin-left: 30px;
}

/*
 *	Learn more links
 */

.comicvine-link .text,
.comicvine-link .logo {
	display: inline-block;
	vertical-align: middle;
}

.comicvine-link .text {
	margin-right: 10px;
}

.comicvine-link {
	text-align: right;
	font-style: italic;
}

.comicvine-link img {
	max-width: 80px;
}

/*
 *	Reader
 */

.reader li {
	text-align: center;
}

.reader li img {
	max-width: 100%;
	max-height: 100%;
	background: black;
}